@page
@model FunApp.Web.Forum.MyFeature.Pages.Page1Model

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello from Page1 in Razor Class Library</title>
</head>
<body>
    <h1>Hello from Page1 in Razor Class Library</h1>
</body>
</html>
