@using FunApp.Services.Models.Categories
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery  AF
@model FunApp.Web.Model.Jokes.CreateJokeInputModel

@{
    ViewData["Title"] = "Create";
    var categories = this.ViewData["Categories"] as IEnumerable<SelectListItem>;
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control" rows="6" cols="50"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" asp-items="categories" class="form-control"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div id="SuggestedCategory"></div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <input value="Suggest category" class="btn btn-default" id="CategorizeButton" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Back to Index</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $("#CategorizeButton").click(function () {
            var joke = $("#Content").val();
            var aft = "@AF.GetTokens(this.Context).RequestToken";
            $.ajax({
                type: "POST",
                url: "/Jokes/SuggestCategory",
                data: { joke: joke },
                success: function(data) {
                    $("#SuggestedCategory").html("Suggested category: " + data.categoryName);
                    $("#CategoryId").val(data.categoryId);
                }
            });
        });
    </script>
}
