@model FunApp.Services.Models.Home.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
    var number = 1.234567M;
}

<h1>@number.ToString("F3")</h1>
<div class="row">
    @foreach (var joke in Model.Jokes)
    {
        <div class="col-md-4 clearfix">
            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.Raw(joke.HtmlContent)
                </div>
                <div class="panel-footer">
                    @joke.CategoryName
                    <a class="btn btn-default btn-sm" asp-controller="Jokes" asp-action="Details" asp-route-id="@joke.Id">View</a>
                </div>
            </div>
        </div>
    }
</div>

@*@section Scripts {
    <script>
        $(".clearfix").remove();
    </script>
}*@